@import url(https://fonts.googleapis.com/css?family=Lato:300italic);
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html,
body {
  width: 100%;
  height: 100%;
}

body {
    background: linear-gradient(to bottom, #d54d56, #b43c82, #6b5b95);

}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.text {
  color: #fff;
  font-family: 'Lobster', cursive;
  font-weight: 300;
  font-style:italic;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
   line-height: 0.8;
}
  h1 {
    font-size: 2em;}


.message-container {
  position: absolute;
  top: 50px; /* un poco más abajo para que no choque con la base */
  width: 300px; /* ahora más ancho que el pastel */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

#birthday-message {
  font-size: 42px;
  font-family: 'Lobster', cursive;
  font-weight: 800;
  color: #ffffff; /* rojo oscuro */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #d54d56;
  width: 0;
  animation: typing 3s steps(35, end) forwards;
  animation-delay: 4s;
  
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30ch; /* Longitud aproximada del texto */
  }
}


.message-container2 {
  position: absolute;
  top: 100px; /* un poco más abajo para que no choque con la base */
  width: 150px; /* ahora más ancho que el pastel */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

#birthday-message2 {
  font-size: 42px;
  font-family: 'Lobster', cursive;
  font-weight: 800;
  color: #ffffff; /* rojo oscuro */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #d54d56;
  width: 0;
  animation: typing 3s steps(20, end) forwards;
  animation-delay: 5s;
  
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30ch; /* Longitud aproximada del texto */
  }
}



/* Confetti canvas detrás */
#confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

/* Pop-up de carta */
#letter-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 239, 248, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.letter-content {
  background: #fcd0e2af;
  border: 2px dashed #ff00c8;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  padding: 30px;
  font-family: 'Georgia', serif;
  font-size: 16px;
  color: #5a2e2e;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: justify;
}

#close-letter {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  color: rgb(255, 0, 212);
  cursor: pointer;
}

.letter-decor {
  font-size: 20px;
  margin: 10px 0;
}

.letter-decor {
  text-align: center;
}

.letter-att {
    font-size: 14px;
    text-align: right;
    margin: 10px 0;
}

/* Caja de regalo centrada en la base del pastel */
.gift-container {
  position: absolute;
  top: 400px;
  width: 200px;
  left: 65%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 10;
}

#gift-box {
  width: 100px;
  margin-top: 30px;
  opacity: 0;
  cursor: pointer;
  position: relative;
  animation: fallAndShake 3s ease-out 4s forwards;
}

/* Animaciones */
@keyframes fallAndShake {
  0% {
    transform: translate(-50%, -300px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes shake {
  0% { transform: translate(-50%, 0) rotate(-5deg); }
  100% { transform: translate(-50%, 0) rotate(5deg); }
}

/* Clase agregada al iniciar el temblor */
.shake {
  animation: shake 0.5s infinite alternate !important;
}


.flecha-container {
  position: absolute;
  top: 330px;
  width: 200px;
  left: 58%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 10;
}

#gift-flecha {
  width: 50px;
  margin-top: 30px;
  opacity: 0;
  cursor: pointer;
  position: relative;
  
}


